:root {
  --bg-color: #f7f4eb;
  --text-color: #787878;
  --link-color: #e44d26;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 600px;
  padding: 20px;
  text-align: left;
}

.memoji {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #1a1a1a;
}
p {
  margin-bottom: 15px;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  width: 100%;
  padding: 20px 0;
  background-color: var(--bg-color);
}
.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}
.footer-links li {
  margin: 0 10px;
}
.footer-links a {
  color: var(--text-color);
  font-size: 24px;
}
.footer-links a:hover {
  color: var(--link-color);
}
.mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
}

.dark-mode {
  --bg-color: #1a1a1a;
  --text-color: #f7f4eb;
  --link-color: #ff6347;
}

.dark-mode h1 {
  color: #f7f4eb;
}
