@import url("https://fonts.googleapis.com/css2?family=Playwrite+ES:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: justify;
  background-color: #0e1c3d;
}


header {
  width: 100%;
  background-color: #f1f1f1;
  text-align: left;
  border-bottom: 2px solid #1f1f1fa8;
}

nav {
  width: 100%;
  background-color: #0e1c3d;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-right: 20px;
}

nav a,
nav a:visited {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #555;
  transition: ease-in;
  transition-delay: 0.1s;
  color: #fff;
}

nav a.active {
  font-weight: bold;
}

main {
  padding: 20px 100px 20px 100px;
}

.project {
  background-color: #10172a;
  border-radius: 8px;
  width: 1200px;
  position: relative;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: justify;
  transition: all 0.3s ease-in-out;
}

.project-back {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  justify-content: flex-start;
}

.project:hover {
  background-color: #0078d4;
  height: auto;
}

.project:hover .project-back {
  display: block;
  position: static;
}

.project:hover .project-front {
  display: none;
}

.project h2 {
  margin-top: 0;
}

.project h3 {
  margin: 10px 0;
}

.project p {
  margin-bottom: 10px;
}

.project ul {
  padding-left: 20px;
  margin-top: 0;
}

footer {
  background-color: #0e1c3d;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 200px;
  list-style-type: none;
}

.footer-links li {
  padding: 10px;
}

.footer-links a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  transition: background-color 0.3s, transform 0.3s;
}

.footer-links a:hover {
  background-color: #333;
  transform: scale(1.1);
}

.footer-links a .icon {
  color: #262626;
  transition: color 0.3s, transform 0.3s;
}

.footer-links a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.footer-links li:nth-child(1) a:before {
  background: #2dba4e;
}

.footer-links li:nth-child(2) a:before {
  background: #55acee;
}

.footer-links li:nth-child(3) a:before {
  background: #0078d4;
}

.footer-links li:nth-child(4) a:before {
  background: #fa57c1;
}

.linkname {
  color: rgba(23, 164, 225, 0.819);
  font-size: medium;
}

.project-logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  overflow: hidden;
}

.project-header {
  display: flex;
  align-items: center;
}
